@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root{
    --logo-color: #9163cc;
    --font-primary-color: #ffffff;
    --purple-light: #e9d7ff;
    --purple-dark: #55387c;
    --border-grey-opacity-50: rgba(114, 114, 114, 0.219);
}

*{
	margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-primary-color);
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-logo-heart {
    padding: 25px;
}

.header-logo-path svg{
    max-width: 100%;
}

.header-logo-typography {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -35px;
}

.header-logo-img {
    align-self: center;
}

.header-logo-img img {
    width: 100%;
    max-width: 150px;
}

.header-logo-img img:hover {
    cursor: pointer;
}

.header-logo-typography h1{
    position: relative;
    bottom: 1px;
    display: none;
    padding-left: 15px;
    align-self: center;
    font-weight: normal;
    font-size: 1.3em;
}


footer {
    display: none;  /* animation  */
    justify-content: center;
    opacity: 0;
    width: 100%;
    background-color: var(--logo-color);
}

footer a {
    margin: 0 10px;
    padding: 5px;
}

footer a img {
    max-width: 32px;
}

footer span {
    align-self: center;
    font-size: .9em;
}

footer .signature {
    font-weight: 600;
    color: var(--purple-light)
}


main {
    display: none; /* animate */
    opacity: 0;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    padding: 5px 0;
    grid-template-rows: 100px 1fr;
    gap: 5px;
    grid-template-areas: 
    'actions input'
    'list-features resume';
}

/* Defining style for action container */
.main-actions-container{
    grid-area: actions;
    border: 2px solid var(--border-grey-opacity-50);
}

.main-buttons-container {
    display: flex;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn {
    padding: 15px;
    color: white;
    background-color: var(--logo-color);
    outline: none;
    cursor: pointer;
    border: none;
}

.btn:hover{
    background-color: var(--purple-dark);
}


.main-input {
    grid-area: input;
    border: 2px solid var(--border-grey-opacity-50);
    color: var(--purple-dark);
}

.main-input-container {
    display: flex;
    margin: 8px;
    flex-direction: column;
    justify-content: center;
}

.main-input-container span:nth-of-type(2n) input {
    margin-left: 10px;
}

.main-input-container input {
    box-sizing: border-box;
    margin: 10px 0;
    padding: 5px;
    width: 90%;
    outline: none;
}

/* Defining style for list */

.main-list-features {
    grid-area: list-features;
    color: var(--purple-dark);
    border: 2px solid var(--border-grey-opacity-50);
}

.main-list-features table {
    border:0; 
    border-collapse:separate; 
    border-spacing:0 5px;
    width: 100%;
}

.main-list-features table caption {
    margin: 1%;
    padding-bottom: .5%;
}

.main-list-features table th {
    height: 25px;
    border-bottom: 1px solid var(--border-grey-opacity-50); 
}

.main-list-features table tbody {
    text-align: center;
}

.main-list-features table tbody tr td {
    padding: 5px;
}

.main-list-features table tbody tr:nth-of-type(2n){
    background-color: rgba(128, 128, 128, 0.171);
}

/* Modal add-feature */

.modal-add-feature {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-feature-content {
    padding: 35px;
    margin: 150px auto;
    width: 100%;
    max-width: 320px;
    background-color: white;
}

.modal-feature-content form {
    display: flex;
    flex-direction: column;
    color: var(--purple-dark);
}

.modal-feature-content form h3 {
    margin-bottom: 25px;
}

.modal-feature-content form label{
    margin: 10px 0;
}

.modal-feature-content form input {
    outline: none;
    border: 1px solid var(--border-grey-opacity-50);
    color: var(--purple-dark);
    padding: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--border-grey-opacity-50);
  -webkit-text-fill-color: black;
}


.modal-feature-content form button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    color: white;
    background-color: var(--logo-color);
}


/* Style for card resume */

.main-card-resume{
    grid-area: resume;
    padding: 10px;
    color: var(--purple-dark);
    border: 2px solid var(--border-grey-opacity-50);
}

.main-card-resume h2 {
    font-weight: bold;
}

.main-card-resume ul {
    list-style: none;
    margin: 5px 10px;
}

.main-card-resume ul li {
    padding: 2%;
    font-size: .98em;
}